#projects {
  figcaption {
    text-align: center;
    margin: 5px 0;
  }
  figure {
    @include box-shadow(5px, 5px);
    @include flex(column, space-between, center);
    width: 200px;
    height: 240px;
    border: 7px solid rgba(232, 92, 37, 0.5);
    border-radius: 2px;
    box-sizing: border-box;
    opacity: 0.9;
    transition: ease 0.5s;
    &:hover {
      opacity: 1.1;
    }
  }
  img {
    width: 100%;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
  }
}
